* {
  margin: 0;
  padding: 0;
}
body {
  color: white;
  margin: 5px;
  padding: 10px;
  background:  url("/img/ab.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
}
.left {
  position: absolute;
  top: 24px;
  left: 134px;
  display: block;
  width: 13%;
}

img {
  width: 70%;
}

.left div {
  /* align-items: center; */
  /* text-align: center; */
  position: absolute;
  left: 17px;
  font-size: 19px;
}

.mid {
  display: block;
  width: 40%;
  margin: 19px auto;
}
.right {
  position: absolute;
  right: 39px;
  top: 50px;
}
ul.navbar {
  display: flex;
  list-style: none;
  /* padding: 12px 11px; */
  /* margin: 9px 9px; */
}
.navbar li a {
  text-decoration: none;
  color: currentcolor;
  padding: 0px 15px;
  margin: 11px 10px;
  font-size: 22px;
  cursor: pointer;
}

.navbar li a:hover,
.navbar li a:active{
  color: aqua;
}
button.btn {
  border: 2px solid black;
  padding: 5px 10px;
  margin: 2px 8px;
  border-radius: 9px;
  font-size: 18px;
  cursor: pointer;
}

button.btn:hover {
  background-color: grey;
}

.container {
  position: absolute;
  top: 37%;
  right: 5%;
  border: 5px solid black;
  width: 44%;
  padding: 13px 7px;
}
.form-group {
  margin: 6px 1px;
  padding: 8px 9px;
  /* width: 68%; */
}
.form-group input {
  width: 100%;
  padding: 7px 4px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 12px;
  text-align: center;
}
.container h1 {
  text-align: center;
  font-size: 35px;
}
.center {
  border: 2px solid black;
  padding: 5px 10px;
  margin: 0 auto;
  border-radius: 9px;
  font-size: 18px;
  cursor: pointer;
  display: block;
}
